    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent | GradeNest</title>
    <link rel="stylesheet" href="{% static 'accounts/js/login.css' %}">
    </head>
    <body>
    <div class="container">
        <div class="form">
        <h2>Check Your Email</h2>
        <p>
            We’ve sent a password reset link to your email address.
            Please open your inbox and click the link to reset your password.
        </p>
        <a href="{% url 'accounts:login' %}">
            <button>Back to Login</button>
        </a>
        </div>
    </div>
    </body>
    </html>